.sidebar {
    height: 100vh;
    background-color: #343a40;
    color: #fff;
}
.sidebar .nav-link {
    color: #fff;
}
.sidebar .nav-link:hover {
    background-color: #495057;
}
.main-content {
    margin-left: 250px;
}
.card-counter {
    box-shadow: 2px 2px 10px #DADADA;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
}
.card-counter:hover {
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
}
.card-counter i {
    font-size: 5em;
    opacity: 0.2;
}
.card-counter .count-numbers {
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 32px;
    display: block;
}
.card-counter .count-name {
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
}