
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <i class="fas fa-home"></i> Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fas fa-users"></i> Users
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fas fa-chart-bar"></i> Analytics
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fas fa-cog"></i> Settings
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Main content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 main-content">
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">Awesome Admin</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fas fa-bell"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fas fa-user"></i> Profile</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <!-- Dashboard content -->
                <div class="container-fluid mt-4">
                    <h1 class="h2 mb-4">Dashboard</h1>
                    
                    <!-- Cards -->
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card-counter primary">
                                <i class="fas fa-users"></i>
                                <span class="count-numbers">12</span>
                                <span class="count-name">Users</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-counter danger">
                                <i class="fas fa-chart-line"></i>
                                <span class="count-numbers">599</span>
                                <span class="count-name">Views</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-counter success">
                                <i class="fas fa-database"></i>
                                <span class="count-numbers">6875</span>
                                <span class="count-name">Data</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-counter info">
                                <i class="fas fa-ticket"></i>
                                <span class="count-numbers">35</span>
                                <span class="count-name">Tickets</span>
                            </div>
                        </div>
                    </div>

                    <!-- Charts -->
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    Sales Chart
                                </div>
                                <div class="card-body">
                                    <!-- Add your chart here -->
                                    <p>Your sales chart goes here.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    Traffic Chart
                                </div>
                                <div class="card-body">
                                    <!-- Add your chart here -->
                                    <p>Your traffic chart goes here.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Recent Activity Table -->
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    Recent Activity
                                </div>
                                <div class="card-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>User</th>
                                                <th>Activity</th>
                                                <th>Time</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>John Doe</td>
                                                <td>Logged in</td>
                                                <td>5 mins ago</td>
                                            </tr>
                                            <tr>
                                                <td>Jane Smith</td>
                                                <td>Updated profile</td>
                                                <td>10 mins ago</td>
                                            </tr>
                                            <tr>
                                                <td>Bob Johnson</td>
                                                <td>Submitted a ticket</td>
                                                <td>15 mins ago</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>