<div class="container-fluid" style="background:#426DA9;">
    <div class="container login-container">
        <div class="row" style="padding-top: 100px;">
            <div class="col col-md-3"></div>
            <div class="col-md-6 login-form-1">
                <h3 class="bigg-title" style="color: white;">Modification mot de passe</h3>
                <form method="POST">
                    <div class="form-group">
                        <input required type="password" name="oldPassword" class="form-control" placeholder="Mot de passe actuel"   />
                    </div>
                    <div class="form-group">
                        <input required type="password" name="newPassword" class="form-control" placeholder="Nouveau mot de passe"   />
                    </div>
                   
                    <div class="form-group">
                        <input type="submit" style="color: #426DA9;background-color: white;" class="btnSubmit btn" value="Modifier" />
                    </div>
                   
                    <div class="form-group" style="margin-top: 35px;">
                        <a href="" style="color: white;" class="ForgetPwd btn btn-block">Aller à la page de connexion</a>
                    </div>
                </form>
            </div>
            <div class="col col-md-3"></div>
        </div>
    </div>
</div>