<div class="container-fluid" style="background:#426DA9;">
    <div class="container login-container">
        <div class="row" style="padding-top: 100px;">
            <div class="col col-md-3"></div>
            <div class="col-md-6 login-form-1">
                <h3 class="bigg-title" style="color: white;">Mot de passe oublié</h3>
                <form method="POST">
                    <div class="form-group">
                        <input required type="email" name="email" class="form-control" placeholder="Votre email *"  />
                    </div>
                   
                    <div class="form-group">
                        <input type="submit" style="color: #426DA9;background-color: white;" class="btnSubmit btn" value="Réinitialiser" />
                    </div>
                    <div class="form-group">
                        <a href="" style="color: white;" class="ForgetPwd btn btn-block">Je ne souviens de mon mot de passe</a>
                    </div>
                </form>
            </div>
            <div class="col col-md-3"></div>
        </div>
    </div>
</div>