thead {
    font-size: 14px;
}

.error {
    color: red;
}

a {
    color: white;
    text-decoration: none;
}

.table .btn {
    width: 40px;
    height: 23px;
    padding: 0;
}

.table .fa-pencil {
    font-size: 10px;
    margin-bottom: 1px;
}

@media only screen and (max-width : 720px) {

    .page-title,
    .title-bg {
        /* font-size: 8px; */
        display: none;
    }
}

::ng-deep .modal-custom {
    width: 55%;
    max-width: none;
}

#supression {
    margin-left: 15px;
}