<!-- {% extends 'main.html'%}

{%block content%}


{% include 'navbar.html'%} -->

<div class="container">
  <div class="row" style="margin-top: 5px;">
    <div class="col text-start">
      <strong style="color: red;">{{ user.assureur }} </strong>
    </div>
    <div class="col  text-end">
      <button class="btn" style="background: #426EA8;color: white;" id="btnAdd" (click)="openModal(template)" ><i class="fa fa-plus"></i> <strong>Agent</strong></button>
    </div>
      <div class="table-responsive" style="padding-left: 10px;padding-right: 10px;">
        <table class="table table-bordered table-striped" style="margin-top: 10px;">
          <thead>
            <tr>
              <th scope="col" width="5%">
                <a (click)="getAdmin()"> <i class="fa fa-refresh"></i></a>
                #</th>
              <!-- <th scope="col">Numéro garant</th> -->
              <th scope="col">Nom</th>
              <th scope="col">Prenoms</th>
              <th scope="col">Login</th>
              <th scope="col">Email</th>
              <th scope="col">Téléphone</th>
              <th scope="col">Niveau</th>
              <th scope="col">Assureur</th>
              <th scope="col" width="20%" style="text-align:center;">Option</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listAgent;
            let i = index
            ">
              <th scope="row">{{ ((index - 1) * size) + i + 1
              }}</th>
              <!-- <td></td> -->
              <td>{{item?.nom | uppercase }}</td>
              <td>{{item?.prenom | titlecase}}</td>
              <td>{{item?.login | titlecase}}</td>
              <td>{{item?.email}}</td>
              <td>{{item?.contact | mask:'00 00 00 00 00'}}</td>
              <td>{{item?.isadmin?'Administrateur':'Agent'}}</td>
              <td>{{ item?.assureur }}</td>
              <td style="text-align: center;vertical-align: middle;">
                  
                <i (click)="openModal(template,item)" style="color: green;" class="fa fa-edit"></i>
                &nbsp;&nbsp;
                <i *ngIf="user.isdsi" class="fa fa-trash" style="color: red;" (click)="confirmDelete(item)"></i>
                  
              </td>
            </tr>
            <tr *ngIf="!listAgent || !listAgent.length">
              <td colspan="11" style="text-align: center;">
                <strong>Aucune donnée</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #template>
        <div class="modal-header">
            <strong class="modal-title pull-left">Agent administrateur pour {{ user.assureur }} </strong>
           
            <span style="cursor: pointer;" aria-hidden="true" (click)="modalRef.hide()">×</span>
        </div>
        <div class="modal-body">
            <form method="POST">
                <div class="row">
                    <div class="col-md-6" style="margin-bottom: 5px;">
                        <label><strong>Nom</strong> <span class="required">*</span></label>
                        <input  required [(ngModel)]="itemToSave.nom" name="nom" type="text"
                            class="form-control" placeholder="Entrer nom">
  
                    </div>
                    <div class="col-md-6" style="margin-bottom: 5px;">
                        <label><strong>Prenom</strong> <span class="required">*</span></label>
                        <input  required [(ngModel)]="itemToSave.prenom" name="prenom" type="text"
                            class="form-control" placeholder="Entrer prenom*">
                    </div>
  
                    <div class="col-md-6" style="margin-bottom: 5px;">
                        <label><strong>Email</strong> <span class="required">*</span></label>
                        <input  required [(ngModel)]="itemToSave.email" name="email"
                            type="text" class="form-control" placeholder="Entrer email*">
                    </div>
                    <div class="col-md-6" style="margin-bottom: 5px;">
                      <label><strong>Login</strong> <span class="required">*</span></label>
                      <input  required [(ngModel)]="itemToSave.login" name="login"
                          type="text" class="form-control" placeholder="Entrer numéro de login*">
                    </div>
                    <div class="col-md-6" style="margin-bottom: 5px;">
                      <label><strong>Telephone</strong> <span class="required">*</span></label>
                      <input mask="00 00 00 00 00" required [(ngModel)]="itemToSave.contact" name="contact"
                          type="text" class="form-control" placeholder="Entrer numéro de telephone*">
                    </div>
                    
                    <div class="col-md-6" style="margin-bottom: 5px;">
                      <br>
                      <label for="subscribeNews"><strong>Administrateur? </strong></label> &nbsp;
  
                        <input  [(ngModel)]="itemToSave.isadmin" style="padding-left:10px;" type="checkbox" id="subscribeNews" name="isadmin" value="newsletter">
                       
                    </div>
                    <div class="col-md-6" style="margin-bottom: 5px;" *ngIf="user.isdsi">
                      <label><strong>Garant</strong></label>
                     
                    <app-search-garant (itemGarantSelected)="onSelectGarant($event)"></app-search-garant>
                    
                    </div>
                    <div class="col-md-6" style="margin-bottom: 5px; max-height: 350px;overflow: auto;">
                      <label><strong>Police(s)</strong> <span class="required">*</span></label>
                      <table class="table table-bordered">
                        <tr>
                          <th>#</th>
                          <th>Code</th>
                          <th>Libellé</th>
                        </tr>
                        <tbody>
                          <tr *ngFor="let police of listPolice">
                            <td>
                              <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="police.isChecked" type="checkbox" id="">
                            </td>
                            <td>
                            {{ police?.num_interne_pol }}

                            </td>
                            <td>
                            {{ police?.prec_souscr }}

                            </td>
                          </tr>
                        </tbody>
                      </table>
                      
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <span class="required">*</span>: Champs réquis
            <button type="button" style="background-color: white;color:#426DA9" class="btn  btn-sm"
                (click)="modalRef.hide()">Fermer</button>
            <button type="button" style="background-color: #426DA9;color:white" class="btn btn-sm"
                (click)="confirmSave(itemToSave)">Enregistrer</button>
        </div>
    </ng-template>
  
    <div class="d-flex justify-content-center">
      <!-- <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)"
      >
      </pagination-controls> -->
  </div>
  </div>
</div>
