<div class="modal-header">
    <strong class="modal-title pull-left">Code de confirmation</strong>
    <span style="cursor: pointer;" aria-hidden="true" (click)="bsModalRef.hide()">×</span>
  </div>
  
  <form (ngSubmit)="confirmSave(itemToSave)">
    <div class="modal-body" [ngBusy]="{busy: busyCall, message: 'Veuillez patienter...', backdrop: true}">
      <div class="row">
        <div class="col-md-12" style="margin-bottom: 5px; text-align: center;">
          <h1>
            {{ minutes }}:{{ seconds | number: '2.0' }}
            <button type="button" (click)="resendOtp(itemToSave)" class="btn" *ngIf="minutes < 3">
              <a style="text-decoration: underline;color:blue">Je n'ai pas reçu le code</a>
            </button>
          </h1>
          <ng-otp-input #otpInput (onInputChange)="onOtpChange($event)" [config]="{ length: 4 }"></ng-otp-input>
        </div>
      </div>
    </div>
  
    <div class="modal-footer">
      <button type="button" style="background-color: white; color: #426DA9;" class="btn btn-sm" (click)="bsModalRef.hide()">
        Fermer
      </button>
  
      <button type="submit" style="background-color: #426DA9; color: white;" class="btn btn-sm" *ngIf="!isLoading">
        Valider
      </button>
      <button disabled type="button" style="background-color: #426DA9; color: white;" class="btn btn-sm" *ngIf="isLoading">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
      </button>
    </div>
  </form>
  