* {
    font-size: 12px;

}

.btn-primary {
    background-color: #426DA9;
}

* {
    font-size: 13px;
}

.container {
    padding: 0;
}

.modal-header {
    background-color: #426DA9;
    color: white;
}

.close {
    color: white;
}

.table-striped>tbody>tr:nth-child(2n+1)>td,
.table-striped>tbody>tr:nth-child(2n+1)>th {
    background-color: #e6ebf3;
}

.wrapper{
    
    background-color: white; 
    overflow: auto; 
    padding-bottom: 0;
}

.sub-wrapper{
    background-color: transparent; min-height: 5vh;margin-top: 5vh;
}
@media only screen and (max-width : 830px) {

    .list-view{
        display: none;
    }

    .sub-wrapper{
        min-height: 100vh;margin-top: 0;
    }
    .list-viewx{
        display: block;
    }
}