
<div class="wrapper">
    <div class="container sub-wrapper">
        <ul class="nav"
            style="background-color: #426DA9; color: white; padding-bottom: 0; padding-top: 15px;position: relative;">
            <div style="display: flex; width: 100%;">
                <div style="flex:6;">
                    <li class="nav-item" style="padding-left: 10px;">
                        <img src="assets/images/logo-mci-sanlam.jpg" alt="home" style="width: 75px; height: 50px;" />
                        <a  class="nav-link active" (click)="deconnexion()"
                            style="color: white; text-decoration: none; list-style: none;font-weight: 700; cursor: pointer;display: inline;">
                            <i class="fa fa-sign-out"></i>
                            <span class="list-viewx">Déconnexion</span>    
                        </a>
                    </li>
                </div>
                <div style="flex:10"></div>
                <div style="flex:20;">
                    <li style="text-align: right;">
                        <a  class="nav-link active " (click)="onImage()"
                            style="color: white; text-decoration: none; list-style: none;font-weight: 700; float: right;cursor: pointer;">
                            <img [src]="user.photo_benef | safe" alt="" style="width:60px;height: 60px;border-radius: 50%;">
                            <span class="list-viewx">&#160;{{ ((user.nom||user.nom_benef) | uppercase) | truncate:20 }} {{ ((user.prenom || user.prenom_benef) | uppercase) | truncate:20 }}</span>
                        </a>
                    </li>
                </div>
            </div>
        </ul>
        <div style="padding:0 15px 15px 15px;border: solid #426DA9">
        <router-outlet></router-outlet>
        </div>
    </div>
</div>

