/* You can add global styles to this file, and also import other style files */
.table-striped>tbody>tr:nth-child(2n+1)>td,
.table-striped>tbody>tr:nth-child(2n+1)>th {
    background-color: #E6EBF3;
}

.modal-header {
    background: #426DA9;
    color: white;

}

::ng-deep .modal-custom-otp {
    width: 30%;
    max-width: none;
}

.required{
    color: red;
}


