<div class="container-fluid" style="background-color: #426DA9;">

    <div class="container login-container">

        <div class="row pt-5">
            <div class="col col-md-3"></div>
            <div class="col text-center mb-3">

                <span class="page-title" style="color: #ffffff;font-weight: 700; font-size: 22px;">Gestion des numéros
                    de sécurité sociale</span>
            </div>
            <div class="col col-md-3"></div>
        </div>
        <div class="row" style="position: relative">
            <div class="col-md-3"></div>
            <div class="col-md-6 login-form-1" style="background: white;">

                <form method="post">
                    <p class="bigg-title" style="color: #426DA9;">Espace administrateur</p>

                    <input name="espace" hidden type="text" class="form-control" value="souscripteur" />
                    <div class="form-group">
                        <label for="login">Login</label>
                        <input id="login" [(ngModel)]="user.login" id="login" name="login" required type="text"
                            class="form-control" placeholder="Entrer login " value="" />
                    </div>
                    <div class="form-group">

                        <label for="password">Mot de passe</label>
                        <input [(ngModel)]="user.password" name="password" id="password" required type="password"
                            class="form-control" placeholder="Entrer mot de passe " value="" />
                    </div>
                    <!-- <script src='https://www.google.com/recaptcha/api.js'></script>
                        <div class="g-recaptcha" data-sitekey="6LeFlQIeAAAAAKO8xXilyATbnOLWeCz0gfYaVUxX"></div> -->
                    <div class="form-group mt-2">
                        <input *ngIf="!isLoadingAdmin" type="submit" class="btnSubmit" value="Connexion" (click)="onSubmitAdmin()" />
                        <button *ngIf="isLoadingAdmin" class="btn btnSubmit" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading...
                          </button>
                    </div>
                    <div class="form-group">
                        <a href="" class="ForgetPwd">Mot de passe oublié?</a>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>

            
        </div>
        <div class="row" style="padding: 0;color: white;">
            <div class="col-md-12 text-center" style="padding: 0;font-weight: 500;">
                &copy; Copyright mcicare ci <span class="copy-right"></span> tout droit réservé
            </div>
        </div>
    </div>
</div>