thead {
    font-size: 14px;
}

.error {
    color: red;
}

a {
    color: white;
    text-decoration: none;
}

.table .btn {
    width: 100px;
    height: 23px;
    font-size: 12px;
    padding: 0px 3px 3px 3px;
    font-weight: 600;
}

.table .fa-pencil {
    font-size: 10px;
    margin-bottom: 1px;
}

::ng-deep .modal-custom {
    width: 55%;
    max-width: none;
}
.card-img-top{
    width: 60px;height:60px
}
.list-image{
    width: 40px;height:40px
}
.isBiggerImg {
    position: absolute;
    width: 350px;
    height: 350px;
    z-index: 103;
    right: 10px;
    background: #ffffff !important;
    border-radius: 0;
    box-shadow: 1px 18px 52px 20px #6c7171;
    border: 5px solid #ffffff;
    animation: fade-left 500ms ease-in-out;
    transition: all 200ms ease-in-out;
}

@media only screen and (max-width : 830px) {

    .page-title,
    .title-bg {
        /* font-size: 8px; */
        display: none;
    }
   
    

    ::ng-deep .modal-custom {
        width: 97%;
        max-width: none;
    }

    .isBiggerImg {
        width: 300px;
        height: 300px;
        right: 10px;
     
    }
}

.notValid{
    color: red !important;
    font-style: italic;
}

.locked{
    /* background: rgb(229, 220, 220); */
    border: none;
    
}
.editable{
    border: 1px solid black;

}
.fa{
    opacity: 0.4;
    cursor: pointer;
}
.active-view{
    color: #426DA9;
    opacity: 1;
}

tr:nth-child(even) {background: white}
tr:nth-child(odd) {background: transparent}

.isAssure{
    color: red !important;
}

.border-danger {
    border: 2px solid red;
    border-radius: 4px;
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .blinking-text {
    animation: blink 1s infinite;
    font-weight: 700;
  }
  