<div style="display: flex;" [ngBusy]="{busy: busyCall, message: 'Veuillez patienter...', backdrop: true}">
    <div style="flex:1">
        <i class="fa fa-th fa-2x" [class.active-view]="activeView == 'grid'" (click)="activeView = 'grid';zoomOut()"
            aria-hidden="true"></i>
    </div>
    <div style="flex:1" style="text-align: left;">
        <i class="fa fa-list fa-2x" [class.active-view]="activeView == 'list'"
            (click)="activeView = 'list';zoomOut()"></i>
    </div>
    <div style="flex:38">

        <marquee style="font-weight: 700;font-size: 1.5rem;color: #426DA9;margin-top: -6px;" behavior="" direction="">
            Renseignez les données manquantes puis validez votre saisie. En cas de doute, contactez MCI CARE au <a
                style="color: #426DA9 !important" href="tel:+2252720272727">
                <i class="fa fa-phone"></i>+225 27 20 27 27 27

            </a>
        </marquee>
    </div>
</div>
<div class="row" *ngIf="activeView =='list'">
    <div class="table-responsive list-view" style="padding: 0">


        <table class="table  table-bordered table-striped table-sm" style="margin-top: 10px;">
            <thead>
                <tr>
                    <th scope="col">
                        <a (click)="getBeneficiaires()"> <i class="fa fa-refresh"></i></a>
                        <!-- # -->
                    </th>
                    <th scope="col">Matricule</th>
                    <th scope="col">Assureur</th>
                    <th scope="col">Police</th>
                    <th scope="col">Collège</th>
                    <th scope="col">Nom et prenoms</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Date de naissance</th>
                    <th scope="col" style="color: #426DA9;">N° de sécurité sociale</th>
                    <th scope="col" style="color: #426DA9;">N° CNPS</th>
                    <th scope="col">N° téléphone</th>
                    <th scope="col">Photo</th>
                    <th scope="col" style="text-align: center;">Modifier</th>
                </tr>
            </thead>
            <tbody>
                <tr [class.isAssure]="item.matric_benef == item.ASS_matric_benef" style="cursor: pointer;" *ngFor="let item of listBenef ;
                let i = index
                ">
                    <th>{{ ((index - 1) * size) + i + 1
                        }}</th>
                    <td>{{item?.matric_benef}}</td>
                    <td>{{item?.lbc_assur}}</td>
                    <td>{{item?.prec_souscr}}</td>
                    <td>{{item?.lbc_college}}</td>
                    <td>{{item?.nom_benef}} {{item?.prenom_benef}}</td>
                    <td>{{item?.cod_statut_benef}}</td>
                    <td>{{item?.sexe_benef}}</td>
                    <td>{{item?.dt_naiss_benef | date}}</td>
                    <td>{{item?.trt_en_cours_until}}</td>
                    <td>{{item?.bl_trt_en_cours}}</td>
                    <td>{{ item?.tel_benef |mask:'00 00 00 00 00' }}</td>
                    <td><img [ngClass]="{ isBiggerImg: item?.isBiggerImg }"
                            [title]="item?.isBiggerImg ? 'Cliquez pour reduire' : 'Cliquez pour zoomer'"
                            (click)="zoomInImage(item)" [src]="item?.photo_benef" class="list-image"></td>
                    <td style="text-align: center;vertical-align: middle;">

                        <!-- <button (click)="openModal(template,item);zoomOut()" class="btn" style="border: solid #426DA9;"><i  style="color: #426DA9;" class="fa fa-edit"></i>Modifier</button> -->
                        <a style="background: #426DA9;width:100%" class="btn btn-primary"
                            (click)="openModal(template,item);zoomOut()">Modifier</a>


                    </td>
                </tr>
                <tr *ngIf="!listBenef || !listBenef.length">
                    <td colspan="14" style="text-align: center;">
                        <strong>Aucune donnée disponible</strong>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- <div class="d-flex justify-content-center">
            <pagination ngDefaultControl class="pagination-sm" (pageChanged)="pageChanged($event)" [maxSize]="6" [totalItems]="totalItems" [(ngModel)]="index">
            </pagination>
        </div> -->

    </div>
</div>
<div class="row" *ngIf="activeView =='grid'">
    <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-3 mb-2" style="padding: 5px;" *ngFor="let item of listBenef">
        <div class="card" style="width: 100%">
            <div class="row">
                <div class="col-md-12" style="text-align: center">
                    <img [ngClass]="{ isBiggerImg: item?.isBiggerImg }"
                        [title]="item?.isBiggerImg ? 'Cliquez pour reduire' : 'Cliquez pour zoomer'"
                        (click)="zoomInImage(item)" class="card-img-top" [src]="item?.photo_benef">
                </div>
            </div>
            <div class="card-body" [class.isAssure]="item.matric_benef == item.ASS_matric_benef">
                <div class="row">
                    <h6 class="card-title" style="text-align: center;">{{item.nom_benef+' '+item.prenom_benef}}</h6>

                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    CMU
                                    <small *ngIf="!validateNumeroCmuQuick(item)" class="text-danger blinking-text">
                                        Invalide!
                                    </small>

                                </td>
                                <td>
                                    <input (ngModelChange)="validateNumeroCmuQuick(item)" [ngClass]="{'border-danger': !validateNumeroCmuQuick(item)}" class="btn" name="trt_en_cours_until" [readonly]="!item.isEditable1"
                                        [class.locked]="!item.isEditable1" [class.editable]="item.isEditable1"
                                        type="text" [(ngModel)]="item.trt_en_cours_until">
                                        <br>
                                        
                                </td>
                                <td>
                                    <button title="Cliquer pour editer le numéro CMU" *ngIf="!item.isEditable1"
                                        style="border: none;" (click)="onToggleEdit(item,1,'isEditable1');zoomOut()"> <i
                                            class="fa fa-pencil"></i></button>
                                    <button title="Cliquer pour sauvegarder" *ngIf="item.isEditable1"
                                        style="border: none;" (click)="confirmSave(item,'isEditable1');zoomOut()"> <i
                                            style="color: green;" class="fa fa-check"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>CNPS</td>
                                <td>
                                    <input class="btn" name="bl_trt_en_cours" [readonly]="!item.isEditable2"
                                        [class.locked]="!item.isEditable2" [class.editable]="item.isEditable2"
                                        type="text" [(ngModel)]="item.bl_trt_en_cours">
                                </td>
                                <td>
                                    <button title="Cliquer pour editer numéro CNPS" *ngIf="!item.isEditable2"
                                        style="border: none;" (click)="onToggleEdit(item,1,'isEditable2');zoomOut()"> <i
                                            class="fa fa-pencil"></i></button>
                                    <button title="Cliquer pour sauvegarder" *ngIf="item.isEditable2"
                                        style="border: none;" (click)="confirmSave(item,'isEditable2');zoomOut()"> <i
                                            style="color: green;" class="fa fa-check"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>Téléphone</td>
                                <td>
                                    <input class="btn" name="fax_benef" [readonly]="!item.isEditable3"
                                        [class.locked]="!item.isEditable3" [class.editable]="item.isEditable3"
                                        type="text" [(ngModel)]="item.fax_benef">
                                </td>
                                <td>
                                    <button title="Cliquer pour editer numéro de téléphone"
                                        *ngIf="!item.isEditable3 && !item.hasPhoneNumber" style="border: none;"
                                        (click)="onToggleEdit(item,1,'isEditable3');zoomOut()"> <i
                                            class="fa fa-pencil"></i></button>
                                    <button title="Cliquer pour sauvegarder"
                                        *ngIf="item.isEditable3 && !item.hasPhoneNumber" style="border: none;"
                                        (click)="confirmSave(item,'isEditable3');zoomOut()"> <i style="color: green;"
                                            class="fa fa-check"></i></button>
                                </td>

                            </tr>
                            <tr>
                                <td>Matricule</td>
                                <td>
                                </td>

                            </tr>
                            <tr>
                                <td>Statut</td>
                                <td>{{item.cod_statut_benef}}</td>
                            </tr>
                            <tr>
                                <td>Sexe</td>
                                <td>{{item.sexe_benef}}</td>
                            </tr>

                        </tbody>
                    </table>

                </div>

                <a style="background: #426DA9;width:100%" class="btn btn-primary"
                    (click)="openModal(template,item);zoomOut()">Modifier</a>
            </div>
        </div>


    </div>
    <div *ngIf="!listBenef || !listBenef.length" style="text-align: center;">
        <strong>Aucune donnée disponible</strong>
    </div>

</div>

<ng-template #template>
    <div class="modal-header">
        <strong class="modal-title pull-left">Gestion numéro sécurité sociale</strong>
        <span style="cursor: pointer;" aria-hidden="true" (click)="modalRef.hide()">×</span>

    </div>
    <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-4" style="margin-bottom: 5px;">
                    <label><strong>Nom</strong></label>
                    <input disabled required [(ngModel)]="itemToSave.nom_benef" name="nom_benef" type="text"
                        class="form-control">

                </div>
                <div class="col-md-5" style="margin-bottom: 5px;">
                    <label><strong>Prenom</strong></label>
                    <input disabled required [(ngModel)]="itemToSave.prenom_benef" name="prenom_benef" type="text"
                        class="form-control">
                </div>

                <div class="col-md-3" style="margin-bottom: 5px;">
                    <label><strong>Date de naissance</strong></label>
                    <input disabled required [(ngModel)]="itemToSave.dt_naiss_benef" name="dt_naiss_benef" type="text"
                        class="form-control">
                </div>

            </div>

            <div class="row">
                <div class="col-md-4 " style="margin-bottom: 5px;">
                    <label><strong>Numéro CMU <span class="required">*</span></strong></label>
                    <input class="form-control" type="text" id="numeroCmu" name="trt_en_cours_until" [(ngModel)]="itemToSave.trt_en_cours_until"
                    #numeroCmuInput="ngModel" class="form-control"
                    [ngClass]="{'border-danger': !validateNumeroCmu()}"
                    placeholder="Enter numéro cmu" (ngModelChange)="validateNumeroCmu()" />
                <!-- <small *ngIf="!validateNumeroCmu() && numeroCmuInput.touched" class="text-danger"> -->
                <small *ngIf="!validateNumeroCmu()" class="text-danger">
                    Doit etre de 13 chiffres et commencer par 384.
                </small>


                </div>

                <div class="col-md-4" style="margin-bottom: 5px;">
                    <label><strong>Numéro cnps</strong></label>
                    <input [(ngModel)]="itemToSave.bl_trt_en_cours" name="bl_trt_en_cours" type="text"
                        class="form-control" placeholder="Entrer numéro cnps">
                </div>
                <div class="col-md-4" style="margin-bottom: 5px;">
                    <label><strong>Numéro mobile </strong></label>
                    <input [disabled]="itemToSave.hasPhoneNumber" mask="00-00-00-00-00"
                        [(ngModel)]="itemToSave.fax_benef" name="fax_benef" type="text" class="form-control"
                        placeholder="Entrer numéro téléphone">
                    <!-- <input [disabled]="itemToSave.hasPhoneNumber" mask="00-00-00-00-00"
                        [(ngModel)]="itemToSave.fax_benef" name="fax_benef" type="text" class="form-control"
                        placeholder="Entrer numéro téléphone"> -->
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <span class="required">*</span>: Champs réquis
        <button type="button" style="background-color: white;color:#426DA9; border-color: #426DA9;" class="btn  btn-sm"
            (click)="modalRef.hide()">Fermer</button>
        <button type="button" style="background-color: #426DA9;color:white" class="btn btn-sm"
            (click)="confirmSave_bis(itemToSave)">Enregistrer</button>
    </div>
</ng-template>