
<div class="container-fluid " style="background-color: white;" >
    
    <div class="container login-container" style="position: relative;">

       
      
        <div class="row" style="position: relative">

            <div class="info-popup" *ngIf="isShowPop" [@fadeIn]="animationState" >
                <p>
                    <br><br>
                    « Bienvenue dans l’espace de collecte des numéros CMU de MCI CARE »<br><br>
                    Bonjour !<br> Vous êtes invités à mettre à jour vos données personnelles CMU.<br> 
                    L’opération ne vous prendra que 5 minutes maximum.<br>  
                    Ayez à portée de main les cartes CMU de tous les membres de votre famille.<br>
                    Puis connectez-vous en entrant votre matricule mci, 
                    votre date de naissance et un numéro de téléphone sur lequel vous allez recevoir par sms un 
                    code de validation.

                </p>
                <div class="row">
                    <div class="col" style="text-align: center;">
                        <button class="btn" style="border: solid; color: #426DA9;font-weight: 700;" (click)="isShowPop = false">Suivant</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-3"></div>
            <div class="col-lg-6 col-md-12 login-form-2" style="margin-top: 35px;">
                <form method="post" style="color: white;" class="assure-form">
                    <p style="font-size: 1.5rem;text-align: center;font-weight: 700;" >
                        Espace de Collecte des numéros CMU
                    </p>
                    <p class="bigg-title" style="text-align: center;">
                        <img src="assets/images/logo-mci-sanlam.jpg" alt="home" style="width: 120px; height: 120px; border-radius: 20%;" />
                    </p>
                    <input hidden name="espace" type="text" class="form-control" value="assure" />
                    <div class="form-group">
                        <label for="matric_benef">Matricule assuré *</label>
                        <div style="position:relative">
                            <input [(ngModel)]="assure.matric_benef" name="matric_benef" id="matric_benef" required
                            type="text" class="form-control" value="" />
                            <button type="button" class="btn info" style="padding: 0;"
                                tooltip="Votre numéro matricule MCI.">
                                <i ngbTooltip="Ceci est une infobulle" class="fa fa-info-circle"></i>
                            </button>
                        </div>
                        
                            
                    </div>
                
                    <div class="form-group">
                        <label for="dt_naiss_benef">Date de naissance *</label>
                       
                        <div style="position:relative">
                            <input  type="text"  placeholder="Plage de date"
                            autocomplete="off" class="form-control" bsDatepicker [bsConfig]="{
                        dateInputFormat: 'DD/MM/YYYY',
                        containerClass: 'theme-dark-blue'}" name="bsValue" [(ngModel)]="assure.dt_naiss_benef" [maxDate]="maxDate"  />
                            <!-- <input [(ngModel)]="assure.dt_naiss_benef" name="dt_naiss_benef"  type="date" class="form-control">
                            <button type="button" class="btn info" style="padding: 0;"
                            tooltip="Votre date de naissance à choisir dans le calendrier ou à saisir manuellement sous le format JJ/MM/AA.">
                            <i ngbTooltip="Ceci est une infobulle" class="fa fa-info-circle"></i>
                            </button> -->
                            <button type="button" class="btn info" style="padding: 0;"
                            tooltip="Votre date de naissance à choisir dans le calendrier ou à saisir manuellement sous le format JJ/MM/AA.">
                            <i ngbTooltip="Ceci est une infobulle" class="fa fa-info-circle"></i>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tel_benef">Numéro mobile *</label>
                        

                            <div style="position:relative">
                                <input mask="00 00 00 00 00" [(ngModel)]="assure.tel_benef" name="tel_benef" id="tel_benef"
                            required type="text" class="form-control" />
    
                            <button type="button" class="btn info" style="padding: 0;"
                                tooltip="Votre numéro de téléphone de 10 chiffres valide, connecté et à porté de main.">
                                <i ngbTooltip="Ceci est une infobulle" class="fa fa-info-circle"></i>
                            </button>
                            </div>
                    </div>

                    <div class="form-group mt-2">
                        <input *ngIf="!isLoading" style="width: 100%;" type="submit" class="btnSubmit" value="Connexion" (click)="onSubmitAssure()" />
                        <button *ngIf="isLoading" style="width: 100%;" class="btn btnSubmit" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading...
                          </button>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row" style="padding: 0;color: white;">
            <div class="col-md-12 text-center" style="padding: 0;font-weight: 500;">
                &copy; Copyright mcicare ci <span class="copy-right"></span> tout droit réservé
            </div>
        </div>
    </div>
</div>