.login-form-1 {
    padding: 1%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-1 h3 {
    text-align: center;
    color: #333;
}

.login-form-2 {
    padding: 1%;
    background: #426DA9;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-2 h3 {
    text-align: center;
    color: #fff;
}

.login-container form {
    padding: 6%;
}

.btnSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form-1 .btnSubmit {
    font-weight: 600;
    color: #fff;
    background-color: #426DA9;
}

.login-form-2 .btnSubmit {
    font-weight: 600;
    color: #426DA9;
    background-color: #fff;
}

.login-form-2 .ForgetPwd {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.login-form-1 .ForgetPwd {
    color: #426DA9;
    font-weight: 600;
    text-decoration: none;
}

.btn-primary {
    background-color: #426DA9;
}

.container-fluid {
    padding: 0;
    height: 100vh;
}

.bigg-title {
    font-weight: 800;
    font-size: 32px;

}
.info-popup{
    position: absolute; 
    top: 30px;
    background-color: white;
    font-size: 1.5rem;
    font-weight: 700;
    min-height: 500px;
    color: #426DA9;
    padding: 10px;
    z-index: 1000;
    height: 90vh;
    
    /* background: rgb(0 0 0 / 24%); */
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* backdrop-filter: blur(30.5px);
    -webkit-backdrop-filter: blur(6.5px); */
    border: 1px solid rgba(255, 255, 255, 0.36);
}
/* .container-fluid{
    padding-top: 150px;
} */
@media only screen and (max-width : 720px) {
    .page-title {
        /* font-size: 8px; */
        display: none;
    }

    .info-popup{
        font-size: 18px;
        font-weight: 700;
        top: 0;
    }
    .container-fluid{
        padding-top: 100px;
    }
}

.info{
    position: absolute;
    right: 3px;
    color: #426DA9;
    top: 8px;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
  }



